* {
    -webkit-touch-callout: none !important;
    /* iOS Safari */
    -webkit-user-select: none !important;
    /* Safari */
    -khtml-user-select: none !important;
    /* Konqueror HTML */
    -moz-user-select: none !important;
    /* Old versions of Firefox */
    -ms-user-select: none !important;
    /* Internet Explorer/Edge */
    user-select: none !important;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    margin: 0 10px;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

#controller {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 8px 0px;
}

#read-button {
    background-color: #4CAF50;
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 67px;
    border: 1px solid #4CAF50;
    margin-left: 10px;
    border-radius: 50px;
}

#repeat-button {
    background-color: #FF8F00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 67px;
    border: 1px solid #FF8F00;
    margin-right: 10px;
    border-radius: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#read-button>svg {
    vertical-align: middle;
    width: 100px;
    height: 40px;
}

#word-container {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0 20px;
    height: 60px;
    flex-grow: 1;
    margin: 0 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scroll-wrapper {
    flex-grow: 1;
    height: 100%;
    overflow-x: auto;
    padding-right: 60px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    align-items: center;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

#word {
    white-space: pre;
    font-size: 50px;
    color: #3b3938;
}

#word:empty::before {
    content: 'Digita messaggio...';
    color: #757575;
}

#word:not(:empty) {
    border-right: .10em solid #ffa500;
    animation: blink 1s step-end infinite;
}

#manage-dictionary {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background: #6495ed;
    border-radius: 50px;
    display: none;
    z-index: 2;
    pointer-events: auto;
}

#manage-dictionary svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
    vertical-align: middle;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#quick-words {
    display: flex;
    overflow-x: auto;
    justify-content: left;
    height: 60px;
    color: #3b3938;
}

#quick-words>div {
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #FFE082;
    border-radius: 25px;
    text-transform: capitalize!important;
    user-select: none;
    height: 45px;
    white-space: nowrap;
    font-size: 40px;
    background-color: #FFFDE7;
}

.quick-word.sentence {
    background: #ddefcd !important;
    border: 1px solid #3bc040 !important;
}

#keyboard {
    margin: 0 auto;
    text-align: center;
}

.row>button {
    width: 78px;
    height: 78px;
    margin: 5px 7px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid #90CAF9;
    background-color: #E3F2FD;
}

#spacebar {
    width: 65%;
    margin-top: 5px;
    height: 70px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid #90CAF9;
    background-color: #E3F2FD;
}

#clear-button {
    width: 150px;
    height: 78px;
    background-color: #EF5350;
    border: 1px solid #EF5350;
    vertical-align: top;
    border-radius: 10px;
    fill: #ffffff;
}

#clear-button>svg {
    vertical-align: middle;
    width: 100px;
    height: 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    overflow-y: auto;
    position: relative;
    top: 25%;
    left: 25%;
}

#word-list {
    justify-content: center;
    color: #3b3938;
}

.word-item {
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #FFE082;
    border-radius: 25px;

    user-select: none;
    white-space: nowrap;
    font-size: 20px;
    background-color: #FFFDE7;
}

.word-item.exists {
    opacity: 0.6;
    background: #e0e0e0;
}

.modal-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 4px;

    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#modal-cancel {
    background-color: #EF5350;
    color: #ffffff;
}

#modal-ok {
    background-color: #4CAF50;
    color: #ffffff;
}